@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

*{
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  height : auto;
  width : 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  display: flex;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: lightseagreen;
  color: white;
}

#count {
  border-radius : 50%;
  left : 50%;
  top : 50%;
  font-size: 1.5rem;
  height : 30px;
  width : 30px;
  font-size : 20px;
  background: white;
  color : black;
  visibility: visible; 
}


