@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

*{
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  display: flex;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: lightseagreen;
  color: white;
}


.Home {
  position: relative;
  width: 100%;

  
img{

      width: 100%;
      height: auto;
  }

.btn{

      position: absolute;
      top: 90%;
      left: 50%;
      cursor: pointer;
      &:hover {
          color:white;
      }
      width:100;
      height: 100;
      border: 2px solid #4CAF50;
      border-radius: 10px;
      border-color: transparent;
      font-size: 16px;
      margin: 4px 2px;
  }
  
}

#count {
  border-radius : 50%;
  left : 50%;
  top : 50%;
  font-size: 1.5rem;
  height : 30px;
  width : 30px;
  font-size : 20px;
  background: white;
  color : black;
  visibility: visible; 
}


