.mainCart{
    margin:5px;
    display:"flex";
    flex-direction: row;
}

.eachItem{
    border:ridge;
    margin:5px;
    padding:10px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
}
.name{
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
   
    padding:20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: row

}

.numSpinner{

 align-self: center;
 

}

.deleteItem{
    align-self: center;
   
    padding-left: 30px;
}


.spinner{
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    
}

.description{
    color:black;
    font-size: 30px;
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    text-decoration: underline;
}

.SubButton{
   padding-top: 5px;
   height: 40px;
   margin-left: 30px; 
}

.spanStyle{
    padding: 150px;
}

.AddButton{
    padding: 5px;
    height: 40px;
}