.pagination {
    justify-content: center;
    width : 80%;
    margin-left : 10%;
    margin-right : 10%;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white;
    background-color: #212529;
    border: 1px solid #dee2e6;
    
    &:hover {
        color: black;
        background-color: #2125292f;
    }
}